<section>
  <h2 class="title">Perguntas Frequentes</h2>
  <div class="faq">
    <div class="question">
      <h3>Para quem essa plataforma é destinada?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A plataforma <i>PortugIF</i> foi pensada e desenhada para aqueles que estão iniciando estudos de programação e
        possuem dificuldades com conceitos ou desejam reforçar seus aprendizados, com
        informações oferecidas em forma simplificada e linguagem coloquial justamente para facilitar o entendimento por
        parte desse público.
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <h3>Por que o código é fornecido em Portugol?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        Existem muitas diferenças entre linguagens de programação, das funcionalidades disponíveis, para a forma como
        são utilizadas, para até mesmo a declaração de variáveis.
        Uma vez que a plataforma não deseja se focar em uma plataforma ou outra, mas sim passar uma visão mais geral
        para estudantes, optou-se por disponibilizar códigos em Portugol,
        tanto para facilitar a compreensão do código pelos usuários quanto pelo fato de ser uma pseudo-linguagem
        utilizada para fins letivos.
      </p>
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <h3>Por que trechos do código são fornecidos como <i>print</i>?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A plataforma PortugIF tem como objetivo ajudar iniciantes em programação a entenderem conceitos básicos da área.
        Dessa forma, a plataforma busca oferecer explicações e exemplos dinâmicos que auxiliem o usuário a compreender o
        funcionamento das estruturas, mas não respostas diretas e completas.
        Assim, quando um usuário gera um <i>if</i> na plataforma, por exemplo, é do interesse dela que o usuário entenda
        quais são as diferentes partes da estrutura do <i>if</i> e como ele é montado,
        mas a construção do <i>if</i> em si - desde condições até as suas consequências - deve ser feita pelo usuário,
        com os <i>prints</i> servindo como <i>placeholders</i> para o código da ação que o usuário deseja realizar.
      </p>
    </div>
  </div>

    <div class="faq">
      <div class="question">
        <h3>Posso entrar em contato para sugerir melhorias na plataforma?</h3>
        <svg width="15" height="10" viewBox="0 0 42 25">
          <path d="M3 3L21 21L39 3"
                stroke="white"
                stroke-width="7"
                stroke-linecap="round"
          />
        </svg>
      </div>
      <div class="answer">
        <p>
          Claro! Caso tenha alguma crítica ou <i>feedback</i> a oferecer, sinta-se a vontade para entrar em contato através do <i>e-mail</i> fornecido
          no rodapé abaixo.
        </p>
      </div>
    </div>
</section>
