<section>
  <h2 class="title">Perguntas Frequentes</h2>
  <div class="faq">
    <div class="question">
      <h3>Para quem essa plataforma é destinada?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        A plataforma <i>PortugIF</i> foi pensada e desenhada para aqueles que estão iniciando estudos de programação e possuem dificuldades com conceitos ou desejam reforçar seus aprendizados, com
        informações oferecidas em forma simplificada e linguagem coloquial justamente para facilitar o entendimento por parte desse público.
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <h3>Por que o código é fornecido em Portugol?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        Existem muitas diferenças entre linguagens de programação, das funcionalidades disponíveis, para a forma como são utilizadas, para até mesmo a declaração de variáveis.
        Uma vez que a plataforma não deseja se focar em uma plataforma ou outra, mas sim passar uma visão mais geral para estudantes, optou-se por disponibilizar códigos em Portugol,
        tanto para facilitar a compreensão do código pelos usuários quanto pelo fato de ser uma pseudo-linguagem utilizada para fins letivos.
      </p>
    </div>
  </div>

  <div class="faq">
    <div class="question">
      <h3>Há planos de se expandir a plataforma?</h3>
      <svg width="15" height="10" viewBox="0 0 42 25">
        <path d="M3 3L21 21L39 3"
              stroke="white"
              stroke-width="7"
              stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="answer">
      <p>
        Trabalhos futuros nunca estão fora de cogitação e sugestões são bem-vindas e podem ser livremente enviadas por meio do <i>e-mail</i> disponibilizado no rodapé dessa página,
        mas não há planos imediatos de expansão da plataforma.
      </p>
    </div>
  </div>
</section>
