<footer class="footer">
  <div class="copy">&copy; 2023 | Igor Lucas Silva Caetano de Oliveira</div>
  <div class="bottom-links">
    <div class="links">
      <span>Contato:</span>
      <a href="https://github.com/IgorLucas-Kipor"><img width="32" height="32" src="https://img.icons8.com/windows/32/github.png" alt="github"/></a>
      <a href="mailto:igorescritor@hotmail.com?subject=Ei,+Igor!+Quero+falar+com+voc%C3%AA!&body=Vamos+trocar+uma+ideia!"><img width="32" height="32" src="https://img.icons8.com/ios-glyphs/30/circled-envelope.png" alt="circled-envelope"/></a>
    </div>
  </div>
</footer>
