* {
  font-family: 'Poppins', sans-serif;
}

.form-table {
  max-width: 100vw;
  min-height: 20vh;
  border-collapse: separate;
  border-spacing: 5px;
}

/*.header-col {*/
/*  background-color: #30729b;*/
/*}*/

/*.selection-col {*/
/*  background-color: #309b84;*/
/*}*/

/*.button-row {*/
/*  background-color: #309b84;*/
/*}*/

.mat-text {
  font-size: 18px !important;
}

.error-text-size {
  font-size: 10.5px !important;
  display: flex;
  justify-content: center;
}

