@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
}

.header .logo {
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #000;
  text-decoration: none;
  margin-left: 30px;
}

html {
  scroll-behavior: smooth;
}

nav {
  background-color: #f8f9fa;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover, a:focus, a:active {
  font-weight: bold;
  color: #0056b3;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Para garantir que o navbar esteja acima de outros elementos */
  background-color: #f8f9fa;
}

section {
  padding-top: 50px; /* Para garantir que o conteúdo não fique coberto pelo navbar fixo */
  margin-top: 60px; /* Compensa o navbar fixo */
}
