<header>
  <div class="header-content">
    <img src="https://ifmg.edu.br/portal/comunicacao/logo/logo-ifmg/ifmg-vertical-branca.png" alt="Logo IFMG" class="logo">
    <h1 class="versalete">Portug<span>IF</span></h1>
    <nav>
      <ul>
        <li><a href="#variables">Variáveis</a></li>
        <li><a href="#portugif">Laço IF</a></li>
        <li><a href="#while">Laço While</a></li>
        <li><a href="#for">Laço For</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
  </div>
</header>
