.form-table {
  max-width: 95vw;
  min-height: 20vh;
  border-collapse: separate;
  border-spacing: 5px;
}

.header-col {
  background-color: indianred;
}

.selection-col {
  background-color: aquamarine;
}

.button-row {
  background-color: cornsilk;
}

.mat-text {
  font-size: 18px !important;
}

.error-text-size {
  font-size: 10.5px !important;
  display: flex;
  justify-content: center;
}

