.sidenav-container {
  padding-left: 1.5rem;
  background-color: #30729b;
}

* {
  overflow: hidden !important;
}

::ng-deep .mat-drawer-inner-container {
  background-color: #30729b !important;
}

mat-sidenav {
  width: 300px;
}

.mat-radio-group, .mat-form-field, button {
  color: #ffffff;
}

.btn-color {
  background-color: #9b3047 !important;
}

.container-btn {
  width: 100%; /* ou qualquer outra largura desejada */
  text-align: center; /* garante que o contêiner centralize seu conteúdo */
}

.centered-block {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 0;
}


