/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400&display=swap');

html, body { height: 100%; }

* {
  font-family: 'Rubik', sans-serif;
}

.red-snackbar {
  background-color: #a61212;
  color: white;
}

.versalete {
  font-variant: all-small-caps !important;
  text-transform: lowercase;
  letter-spacing: 2px;
}
